[Unit]
Description=A music player for the Logitech Media Server

[Service]
Type=simple
ExecStart=/usr/local/bin/vibe
Restart=on-failure

[Install]
WantedBy=default.target