[Unit]
Description=A music player for the Lyrion Music Server
After=network-online.target sound.target

[Service]
Type=simple
ExecStart=/usr/local/bin/vibe
Restart=on-failure

[Install]
WantedBy=default.target